strong {
    text-transform: uppercase;
    font-size: 15px;
}

span {
    margin: 8px 0;
}

i {
    height: 40px;
    width: 50px;
}

hr {
    width: 330px;
    margin: 14px auto;
    color: #422fbd;
}

button {
    margin: 0 auto;
}

.card {
    -webkit-box-shadow: 7px 6px 14px rgba(224, 219, 219, 0.75);
    -moz-box-shadow: 7px 6px 14px rgba(224, 219, 219, 0.75);
    box-shadow: 7px 6px 14px rgba(224, 219, 219, 0.75);
}

.purple-icon{
    background: #d8d4f1;
    padding: 10px;
    border-radius: 20px;
    color: #422fbd;
}

.custom-shadow{
    -webkit-box-shadow: 7px -4px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px -4px 14px -10px rgba(0,0,0,0.75);
    box-shadow: 7px -4px 14px -10px rgba(0,0,0,0.75);
}

.info-description{
    padding: 5px;
    color: white;
    border-radius: 6px;
}

.info-description-color-1{
    background: #422fbd
}

.info-description-color-2{
    background: #ff893a
}

.info-description-color-3{
    background: #585665
}

.custom-circle{
    border: 1px solid black;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 10px;
}

.custom-label{
    padding: 6px;
    border-radius: 6px;
    font-size: 10px;
}

.custom-label-red{
    background: #fdece7;
    color: #f4501d
}

.custom-label-purple{
    color: #422fbd;
    background: #d8d4f1
}

.custom-circle {
    color: #f4501d;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.leisure-text {
    font-size: 14px;
    margin: 0 10px;
}

.job-title {
    color: #ff893a;
    font-size: 22px;
}

.number {
    font-size: 21px;
    font-weight: bold;
}

.profile-contact-information {
    margin: 18px 10px;
}

.projects {
    padding: 0 10px;
}

.data {
    margin: 4px;
    height: 300px;
}

.education {
    height: 300px;
}
